<% provide(:title, "Posts") %>

<% @posts.each do | post| %>
  <li>
   <h2><%= link_to post.title, post %></h2>
    <div class="entry-meta">
        <span><i>Posted: <%= time_ago_in_words(post.created_at) %> ago.</i></span>
    </div>
	<p><%= truncate(post.content, length: 100, escape: false,
			    separator: '') %></p>			
  </li>			
<% end %>